.container {
  width: 100%;
}

.navbar {
  height: 100%;
  background-color: white;
  border: none;
  padding: 20px 40px;
  margin-bottom: 0;
}

.nav {
  float: right;
}

.navbar-collapse {
  border: none;
}

.navbar-nav>li>a {
  text-align: right;
}

.navbar-nav>li>a:hover {
  color: #A498DA !important;
  background-color: white !important;
}

.navbar-nav>li>a:active, .navbar-nav>li>a:visited {
  background-color: white !important;
}

.navbar-brand {
  padding: 0;
  margin-top: 10px;
}
.logo {
  height: 70%;
}
@media only screen and (min-width: 350px) {
  .navbar-brand {
    margin: 0;
    height: 50px;
    padding: 0;
  }
  .logo {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-brand {
    width: 200px;
  }
  .logo {
    width: 100%;
  }
}
