@media only screen and (min-width: 992px) {
  .home-screen-row {
    width: 75%;
    margin: 0 auto;
  }
}

.yellow, .green, .purple, .red {
  height: 150px;
}
@media only screen and (min-width: 576px) {
  .yellow, .green, .purple, .red {
    height: 230px;
  }
}

.yellow {
  background-color: #FEF796;
}
.green {
  background-color: #88B0A3;
}
.purple {
  background-color: #A498DA;
}
.red {
  background-color: #F79191;
}

.icons {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.square {
  position: relative;
  opacity: 0.9;
  transition: all .3s;
  margin-bottom: 10px;
}

.square:hover {
  opacity: 1.0;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.comment-square {
  position: relative;
}

.comment-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.7);
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.7);
}
@media only screen and (min-width: 576px) {
  .comment-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

.message {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);
  -webkit-transform: translateY(-60%) translateX(-50%);
  width: 50%;
}
