.yellow {
  background-color: #FEF796;
  height: 200px;
}

.green {
  background-color: #88B0A3;
  height: 200px;
}

.purple {
  background-color: #A498DA;
  height: 200px;
}

.red {
  background-color: #F79191;
  height: 200px;
}

.icons {
  color: white;
  margin-top: 55px;
}

.square {
  opacity: 0.9;
  transition: all .3s;
}

.square:hover{
  opacity: 1.0;
  transform: translateY(-5px);
}
