.login-main {
  background: url('../imgs/buildings.jpg') no-repeat left bottom;
  background-size: cover;
}

.login-row {
  margin: 30px 0;
}
@media only screen and (min-width: 576px) {
  .login-row {
    margin: 70px 0;
  }
}

.login-box {
  height: 300px;
  background-color: #111;
  opacity: 0.9;
  border-radius: 5px;
  color: white;
}

.login-box-header {
  margin: 40px 0;
}

label {
  margin: 10px 0;
}

.btn-block {
  margin: 20px 0;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: none;
  height: 100px;
}

.btn-block:hover, .btn-block:focus {
  background-color: #A498DA;
  color: white;
}

.signin-btn {
  height: 50px;
}

img.google-logo {
  height: 50px;
  margin: 20px 10px;
}
